# Filtering, Ordering, and Limiting Data with SQL - Lab

## Introduction
In this lab, you will practice writing SQL `SELECT` queries that limit results based on conditions, using `WHERE`, `ORDER BY`, and `LIMIT`.

## Objectives
You will practice the following:

* Order the results of your queries by using `ORDER BY` (`ASC` & `DESC`)
* Limit the number of records returned by a query using `LIMIT`
* Write SQL queries to filter and order results

## The Data

Here's a database full of famous dogs!  The `dogs` table is populated with the following data:

|name      |age    |gender |breed           |temperament|hungry |
|----------|-------|-------|----------------|-----------|-------|
|Snoopy    |3      |M      |beagle          |friendly   |1      |
|McGruff   |10     |M      |bloodhound      |aware      |0      |
|Scooby    |6      |M      |great dane      |hungry     |1      |
|Little Ann|5      |F      |coonhound       |loyal      |0      |
|Pickles   |13     |F      |black lab       |mischievous|1      |
|Clifford  |4      |M      |big red         |smiley     |1      |
|Lassie    |7      |F      |collie          |loving     |1      |
|Snowy     |8      |F      |fox terrier     |adventurous|0      |
|NULL      |4      |M      |golden retriever|playful    |1      |

## Connecting to the Database

In the cell below, import `pandas` and `sqlite3`. Then establish a connection to the database `dogs.db`.

Look at all of the data in the table by selecting all columns from the `dogs` table with `pd.read_sql`.

In [1]:
# Your code here; imports, create a connection, select all
import sqlite3
conn = sqlite3.connect('dogs.db')
cur = conn.cursor()
import pandas as pd

In [2]:
conn = sqlite3.connect('dogs.db')

Connected the database

## Queries

Display the outputs for each of the following query descriptions.

### Select the name and breed for all female dogs

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>WHERE</code> with the <code>=</code> operator</p>
</details>

In [5]:
# Your code here
cur.execute("""
    SELECT name, breed
    FROM dogs
    WHERE gender = 'F'
    """)
print(cur.fetchall())

[('Little Ann', 'coonhound'), ('Pickles', 'black lab'), ('Lassie', 'collie'), ('Snowy', 'fox terrier')]

In [4]:

results = cur.fetchall()
print(results)

[('Little Ann', 'coonhound'), ('Pickles', 'black lab'), ('Lassie', 'collie'), ('Snowy', 'fox terrier')]

### Select the number of dogs that do not have a name

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>COUNT</code> and <code>IS NULL</code></p>
</details>

In [12]:
# Your code here
cur.execute("""
    SELECT COUNT(*)
    FROM dogs
    WHERE name IS NULL
    """)
print(cur.fetchall())

[(1,)]

### Select the names of all dogs that contain the double letters `ff` or `oo`

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>LIKE</code>, <code>%</code>, and <code>OR</code></p>
</details>

In [14]:
# Your code here
cur.execute("""
    SELECT name
    FROM dogs
    WHERE name LIKE '%ff%' OR name LIKE '%oo%'
    """)
print(cur.fetchall())

[('Snoopy',), ('McGruff',), ('Scooby',), ('Clifford',)]

### Select the names of all dogs listed in alphabetical order.  Notice that SQL lists the nameless dog first.

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>ORDER BY</code></p>
</details>

In [15]:
# Your code here
cur.execute("""
    SELECT name
    FROM dogs
    ORDER BY name ASC
    """)
print(cur.fetchall())

[(None,), ('Clifford',), ('Lassie',), ('Little Ann',), ('McGruff',), ('Pickles',), ('Scooby',), ('Snoopy',), ('Snowy',)]

### Select the name and breed of only the hungry dogs and list them from youngest to oldest

In [16]:
# Your code here
cur.execute("""
    SELECT name, breed
    FROM dogs
    WHERE hungry = 1
    order by age ASC
    """)
print(cur.fetchall())

[('Snoopy', 'beagle'), ('Clifford', 'big red'), (None, 'golden retriever'), ('Scooby', 'great dane'), ('Lassie', 'collie'), ('Pickles', 'black lab')]

### Select the oldest dog's name, age, and temperament

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>ORDER BY</code> with <code>LIMIT</code></p>
</details>

In [20]:
# Your code here
cur.execute("""
    SELECT name, age, temperament
    FROM dogs
    order BY age DESC
    LIMIT 1
    """)
print(cur.fetchall())

[('Pickles', 13, 'mischievous')]

### Select the name and age of the three youngest dogs

In [21]:
# Your code here
cur.execute("""
    SELECT name, age
    FROM dogs
    ORDER BY age ASC
    LIMIT 3
    """)
print(cur.fetchall())

[('Snoopy', 3), ('Clifford', 4), (None, 4)]

### Select the name and breed of the dogs who are between five and ten years old, ordered from oldest to youngest

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>WHERE</code> with <code>BETWEEN</code></p>
</details>

In [22]:
# Your code here
cur.execute("""
    SELECT name, age, breed
    FROM dogs
    WHERE age BETWEEN 5 AND 10
    ORDER BY age DESC
    """)
print(cur.fetchall())

[('McGruff', 10, 'bloodhound'), ('Snowy', 8, 'fox terrier'), ('Lassie', 7, 'collie'), ('Scooby', 6, 'great dane'), ('Little Ann', 5, 'coonhound')]

### Select the name, age, and hungry columns for hungry dogs between the ages of two and seven.  This query should also list these dogs in alphabetical order.

In [23]:
# Your code here
cur.execute("""
    SELECT name, age, hungry
    FROM dogs
    WHERE hungry = 1 AND age BETWEEN 2 AND 7
    ORDER BY name ASC
    """)
print(cur.fetchall())

[(None, 4, 1), ('Clifford', 4, 1), ('Lassie', 7, 1), ('Scooby', 6, 1), ('Snoopy', 3, 1)]

## Close the Database Connection

In [24]:
# Your code here
conn.close()

## Summary

Great work! In this lab you practiced writing more complex SQL statements to not only query specific information but also define the quantity and order of your results.